# Ignore model checkpoints and cache
models/checkpoints/
models/fine_tuned_llama_resume/
*.pt
*.bin
*.pkl

# Ignore dataset cache
data/raw_data/
data/processed_data/
__pycache__/

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/